@media (min-width: 1000px) {
    .responsive-div {
      background-color: blue;
    }
  }
  
  @media (min-width: 412px) and (max-width: 413px) {
    .responsive-div {
      background-color: green;
    }
  }

  header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
  }

.banner_rojo {
    background-color: red;
    padding: 20px; /* Ajusta el espacio interior del div según tus preferencias */
    text-align: center; /* Centra el texto horizontalmente dentro del div */
}

.banner_rojo h1 {
    color: black;
}

  .contenedor{
    display: flex;
  }

  .columna1 {
    width: 25%;
    margin: 0%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.columna2 {
    width: 75%;
    margin: 0%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.lista_enlaces {
  
}
  